<h6>
	<%= organisation_acronym %> <%= organisation_name %>&mdash; <%= branch_name %>
</h6>
<note>
	<%= street_address %><br/>
	<%= quartier_name %>

	<table>
		<tr>
			<th>Phone:</th>
			<td><%= site_phone %></td>
		</tr>
		<tr>
			<th>Hours:</th>
			<td><%= hours_of_operation %></td>
		</tr>
		<tr>
			<th>Services:</th>
			<td><%= service_names %></td>
		</tr>
		<tr>
			<th>Categories:</th>
			<td><%= category_names %></td>
		</tr>
	</table>
</note>
<aside>
	<a href="/index.php?r=branchsite/view&id=<%= id %>">
		View
	</a> /
	<a href="/index.php?r=branchsite/update&id=<%= id %>">
		Edit
	</a>
</aside>
